body{
   max-width: 80%;
   margin: 0 auto;
   text-align: center;
}


#map { 
    height: 500px;
    width: 100%;
    border-bottom: 5px solid black;
    margin: 0 auto;

 }
 h1:hover{
 
    overflow: visible;
    color: rgb(255, 0, 34);
 }
