*{
   margin: 0;
   padding: 0;

}

body{
 
   max-width: 100%;
 
   margin: 0 auto;
}
 .h1{
    width: 100%;
   padding: 20px;
   color: white;
   background-color: rgb(47, 131, 117);
   text-align: center;

 }
 header{
    display: flex;   
    flex-wrap: wrap;  
    margin: 0 auto;

   
 }
 @media screen and (max-width:800px){
    body{
       margin: 0 auto;
    }
   header{    
     flex-wrap: wrap;
     flex-direction: column;
       
   
    
   }    
   header .setor{
      width: 100%;   
     
    
      
      
   }
   header #map { 
      height: 500px;
      width: 100%;
      
    
      
   
   }
 }

 #map { 
   height: 500px;
   width: 70%;
   border-bottom: 5px solid black; 


}
.h2{
   text-align: center;
   background-color:darkgoldenrod;
   padding:  10px;
   border-bottom: 5px solid black;
   
}
.setor{

   flex-wrap: wrap;
   width: 30%;
   height: 30px;
   
}

 h1:hover{
 
    overflow: visible;
    color: rgb(255, 0, 34);
 }
 .central:hove{
    background-color: red;
 }
 .central{
   color: white;
  background-color: rgb(21, 88, 38);
  border: 2px solid;
  margin: 10px 40px;   
}
 .setor109{
    color: white;
   background-color: rgb(255, 0, 43);
   border: 2px solid;
   margin: 10px 40px;   
}
.setor110{
   color: white;
  background-color: blue;
  border: 2px solid;
  margin: 10px 40px;   
}
.setor111{
   color: white;
  background-color: rgb(68, 38, 18);
  border: 2px solid;
  margin: 10px 40px;   
}
.setor113{
   color: white;
  background-color: rgb(71, 70, 70);
  border: 2px solid;
  margin: 10px 40px;   
}
.setor101{
   color: white;
  background-color: rgb(94, 13, 114);
  border: 2px solid;
  margin: 10px 40px;   
}

 .pastor {
    color:black;
    background-color: rgb(211, 207, 207);
    border: 1px solid;   

 }
 .membros {
   color:black;
   background-color: rgb(211, 207, 207);
   border: 1px solid;     

}
.raio {
   color:black;
   background-color: rgb(211, 207, 207);
   border: 1px solid;     

}


